.btnForward {
  padding: 6px 3px;
  width: 150px;
  color: #fff;
  background-color: #f36631;
  border-color: #b55023;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.btnBackwards {
  padding: 6px 3px;
  width: 150px;
  margin-right: 5px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  text-align: center;
  border-radius: 4px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
